.contato {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 70px 300px 1fr;
  gap: 0 3rem;
  padding: 3.5rem 1.5rem 2rem 1.5rem;
}
.contato-mapa {
  grid-area: 2/2;
}
.contato ul {
  grid-area: 2/3;
}
.contato ul .bitcoin {
  background: rgb(0, 255, 0);
  border-radius: 4px;
  padding: .25rem;
  margin: 0 0.25rem;
  font-weight: bold;
  color: #1d1d1f;
}
.contato li {
  position: relative;
  display: flex;
  align-items: center;
  padding: .40rem 0;
}
.contato li::before {
  content: "";
  position: absolute;
  background: #fb5;
  width: 20px;
  height: 10px;
  left: -30px;
}
[data-days]::after {
  border: 2px solid #f5f5f7;
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background: #e30000;
  border-radius: 50%;
  margin: 0 0 1px 4px;
  cursor: pointer;
}
[data-days].active::after {
  background: rgb(0, 255, 0);
}
[data-days].active .time-open {
  display: flex;
}
[data-days].active .time-close,
[data-days] .time-open {
  display: none;
}
.time-open,
.time-close {
  padding-left: 0.25rem;
}
@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .contato ul {
    margin-left: 3rem;
  }
}
@media (max-width: 500px) {
  .contato-mapa {
    grid-area: 2/1;
  }
  .contato ul {
    grid-area: 3/1;
  }
  .contato ul {
    margin-left: 2rem;
  }
}
