.dropdown-menu {
  display: none;
  background: #e54;
  position: absolute;
  border: 2px solid rgb(0, 0, 0);
}
.dropdown-menu li a:hover {
  color: #fff;
}
.dropdown-menu::before {
  content: "";
  top: -12px;
  left: 10px;
  position: absolute;
  border-bottom: 12px solid #e54;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent
}
[data-dropdown]:hover .dropdown-menu,
[data-dropdown].active .dropdown-menu {
  display: block;
  animation: animationUp .5s forwards;
}
@keyframes animationUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}