.faq {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 120px 1fr;
  padding: 2rem .75rem 0 .75rem;
}
.faq dl {
  grid-column: 2;
}
.faq button {
  border: none;
  display: flex;
  cursor: pointer;
  padding-left: 0;
  background: #000;
}
.faq button::before {
  content: "";
  background: #fb5;
  width: 20px;
  height: 10px;
}
.faq button::after {
  background: url(../img/icons8-seta-para-expandir-96\ \(1\).png);
  content: "";
  background-size: cover;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}
.faq button[aria-expanded="true"]::after {
  transform: rotateX(180deg);
}
.faq dd {
  padding-left: 28px;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.faq dd.active {
  max-height: 95px;
}
@media (max-width: 800px) {
  .faq {
    grid-template-columns: 1fr;
  }
  .faq dl {
    grid-column: 1/3;
  }
}
