.introducao {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 105px 300px 1fr;
  gap: 0 1rem;
  padding-bottom: 4rem;
}
.introducao .titulo {
  padding-bottom: 2rem;
}
.introducao-imagens {
  height: 376px;
  overflow-y: scroll;
  grid-area: 2/2;
}
.introducao-imagens li {
  cursor: pointer;
}
.introducao-imagens::-webkit-scrollbar {
  width: 18px;
}
.introducao-imagens::-webkit-scrollbar-thumb {
  background: #fb5;
  border-left: 4px solid #efebe2;
  border-right: 4px solid #efebe2;
}
.introducao-imagens::-webkit-scrollbar-thumb:hover {
  background: rgb(224, 164, 73);
}
.introducao-imagens::-webkit-scrollbar-track {
  background: #efebe2;
}
.introducao h2::before {
  content: "";
  display: inline-block;
  background: #fb5;
  width: 40px;
  height: 10px;
}
.introducao-descricao {
  grid-area: 2/3;
}
.introducao-descricao p {
  margin-bottom: 1rem;
}
.introducao-descricao li {
  display: none;
}
[data-tab="content"] li.active {
  display: block;
  animation: tabNav .5s forwards;
}
@keyframes tabNav {
  from {
    opacity: 0;
    transform: translate3d(-35px, 0, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}
@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 140px 1fr;
    padding: 0 0.75rem 2.5rem 0.75rem;
  }
  .introducao .titulo {
    padding-bottom: 1rem;
  }
  .introducao-imagens {
    grid-column: 1;
  }
}
