[data-menu-mobile] {
  display: none;
  color: #f5f5f7;
  background: #1d1d1f;
  font-weight: 100;
}
@media (max-width: 800px) {
  .js [data-menu-mobile] {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    margin: 1rem 0.5rem;
    border-radius: 4px;
    padding: 0.5rem;
    gap: 0.5rem;
    font-family: "Rubik", sans-serif;
    position: relative;
    z-index: 2;
  }
  .js [data-menu-mobile]::before {
    background: url(../img/icons8-cardápio.svg);
    content: "";
    background-size: cover;
    width: 17px;
    height: 17px;
    transition: 0.5s;
  }
  .js [data-menu-mobile].active::before {
    transform: rotate(90deg);
  }
  .js [data-menu-list] {
    position: absolute;
    background: #fb5;
    width: 250px;
    top: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 0 7px 7px 0;
    max-height: 0;
    overflow: hidden;
    transition: .3s;
    display: flex;
    flex-direction: column;
  }
  .js [data-menu-list] li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .js [data-menu-list].active {
    max-height: 475px;
    padding: 65px 0 1rem 0;
  }
  .js .dropdown-menu {
    position: relative;
    border: none;
  }
}
