.modal-container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
  overflow: hidden;
  max-height: 0;
}
.modal-container.active {
  max-height: 100vh;
  backdrop-filter: blur(10px);
}
.modal {
  position: relative;
  padding: 2rem;
  max-width: 475px;
  border: 10px solid #fb0;
  background: #212121;
  box-shadow: 0 0 0 10px #212121;
}
.modal input {
  width: 100%;
  box-sizing: border-box;
  margin: 0.25rem 0 0.75rem 0;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  padding: 0.75rem;
  outline: none;
  border-radius: 15px;
  border: 1px solid #f5f5f7;
  background: #212121;
  color: #f5f5f7;
}
.modal input:focus {
  border: 2px solid #f5f5f7;
}
.modal-close {
  position: absolute;
  top: -25px;
  right: -25px;
  border: none;
  background: #e51;
  color: #f5f5f7;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.25rem;
  font-family: "Rubik", sans-serif;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  border: 5px solid #212121;
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-close:hover {
  background: rgb(144, 51, 11);
}
.modal-enter {
  background: #e51;
  border: none;
  color: #f5f5f7;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  border-radius: 15px;
  width: 100%;
  padding: 0.75rem;
  transition: 0.3s;
  cursor: pointer;
}
.modal-enter:hover {
  background: rgb(144, 51, 11);
}
@media (max-width: 800px) {
  .modal-close:hover {
    background: #e51;
  }
  .modal-enter:hover {
    background: #e51;
  }
  .modal-close:active {
    background: rgb(189, 66, 13);
  }
  .modal-enter:active {
    background: rgb(189, 66, 13);
  }
  .modal-close {
    align-items: center;
  }
}
@media (max-width: 700px) {
  .modal {
    max-width: 350px;
  }
}
@media (max-width: 500px) {
  .modal {
    max-width: 275px;
  }
}

