.numeros {
  grid-column: 2/4;
  display: grid;
  grid-template-columns: 120px 1fr;
  padding: 3.5rem 2rem 2rem 2rem;
}
.numeros-sobre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-area: 2/2;
  gap: 4rem;
}
.numeros-sobre h3 {
  font-size: 2rem;
  font-weight: 400;
}
.numeros-sobre span {
  color: #ee5544;
  font-size: 24px;
  font-weight: bold;
  display: block;
}
@media (max-width: 800px) {
  .numeros-sobre {
    grid-area: 2/1;
    gap: 2rem;
  }
  .numeros-sobre h3 {
    font-size: 24px;
  }
}