[data-wrapper] {
  grid-column: 1/5;
  overflow: hidden;
  padding: 3.5rem 0 2rem 0;
}
[data-slide] {
  display: flex;
}
[data-slide] li {
  flex-shrink: 0;
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;
  border-radius: 4px;
  overflow: hidden;
  transform: scale(.8);
  opacity: .8;
  transition: .3s
}
[data-slide] li.active {
  transform: scale(1);
  opacity: 1;
}
