.titulo {
  font-size: 6rem;
  font-weight: 400;
  grid-column: 1/4;
  padding-bottom: 2rem;
}
.texto1 {
  color: #ee5544;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  font-weight: 700;
}
@media (max-width: 800px) {
  .titulo {
    font-size: 48px;
    grid-column: 1/4;
  }
}
